<th:block th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/static/Hadezign-Hobbies-Movies.png" width="30" height="30" class="d-inline-block align-top" alt="">
            CINEWORLD - Admin Panel
        </a>

        <div class=navbar >
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link"  href="film.html" th:href="@{/admin/cinema/add}">Cinemas</a></li>
                <li><a class="nav-link"  href="film.html" th:href="@{/admin/film}">Films</a></li>
                <li><a class="nav-link"  href="user.html" th:href="@{/admin/user}">Users</a></li>
                <li><a class="nav-link"  href="genre.html" th:href="@{/admin/genre}">Genres</a></li>
                <li><a class="nav-link" href="genre.html" th:href="@{/admin/ticket}">Tickets</a></li>
            </ul>
        </div>
    </nav>
</th:block>