.navbar-wine {
    background-color: #585858;
}

.navbar-brand.brand {
    color: #FFFFFF;
}

.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-brand:focus {
    color: #FFFFFF;
}

.gray {
    color: gray;
}
.white {
    color: white;
}

.nav-link-blue {
    color: #FFFFFF;
}

.nav-link-white:hover {
    color:  #2ECCFA;
}

.nav-link-white:focus {
    color: #2ECCFA;
}

.dropdown-toggle::after {
    display:none
}

.w-40 {
    width: 40%;
}

.hr-2 {
    height: 2px;
}
